.alert-box {
  position: fixed;
  top: 20%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid red;
  border-radius: 25px;
  padding: 10px;
  z-index: 25;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
}

.alert-box p {
  
  margin: 0;
  width: 100%;
}

.alert-box button {
  /* background: #006bdf; */
  background: red;
  color: whitesmoke;
  position: absolute;
  width: 50px;
  height: 100%;
  bottom: 0;
  right: 0;
  /* transform: translate(50%, -100%); */
}
.alert-box button:focus{
  border: none;
  outline: none;
}
@media only screen and (min-width: 400px) {
  .alert-box {
  position: fixed;
  top: 70%;
  left: 75%; 
  transform: translate(-50%, -50%);
  width: 300px;
  height: 50px;
  background-color: white;
  border: 1px solid red;
  border-radius: 25px;
  padding: 10px;
  z-index: 25;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alert-box p {
  
  margin: 0;
  width: 100%;
}

.alert-box button {
  /* background: #006bdf; */
  background: red;
  color: whitesmoke;
  position: absolute;
  width: 50px;
  height: 100%;
  bottom: 0;
  right: 0;
  cursor: pointer;
  /* transform: translate(50%, -100%); */
}
}