.chatInterface{
  width: 100vw;
  height: 100vh;
  /* max-height: 700px; */
  /* max-width: 400px; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  background: ghostwhite;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  /* align-items: center; */
}
.chats{
  padding: 0 10px;
  height: 60%;
  /* max-height: 400px; */
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  justify-content: flex-end;
  overflow: scroll;
  overflow-y: scroll;
}
.chats div{
  margin: 3vmin 0;
  padding: 2vmin 0 2vmin 10%;
  width: 90%;
  overflow: auto;
  flex-shrink: 0;
  max-height: 200px;
}
.chat{
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row; 
}
.inputContainer{
  flex-grow: 2;
}
.chat input{
  width: 100%;
  height: 50px;
  border-radius: 20px;
  font-size: 100%;
  padding: 0 5%;
  background: transparent;
}
.chat button{
  width: 90px;
  height: 50px;
  border-radius: 100%;
  color: #006bdf;
}
.subInput{
  color: #4f4f4f85;
  transform: translateY(-100%);
  background: transparent;
  pointer-events: none;
  touch-action: none;
}
.subInput:focus{
  border: none;
  outline: none;
}
.aibtn{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 55;
  border-radius: 4px;
  border-bottom-left-radius: 15px;
  color: #006bdf;
  padding: 3px;
}
.aibtn:focus{
  transform: scale(0.9);
  outline: none;
  
}
.readFS{
  width: 90px;
  overflow: hidden;
  height: 50px;
  border-radius: 100%;
  background: #006bdf;
  display: inline-block;
}
.readFS input{
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(1.5) translateY(25%);
}
.readFS div{
  color: floralwhite;
  text-align: center;
  touch-action: none;
  pointer-events: none;
  transform: translateY(-100%);
  font-size: 250%;
}
@media only screen and (min-width: 400px) {
  .aibtn{
    transform: scale(1.5);
  }
  .chat{
    left: 50%;
  }
}
.warningOnChat{
  position: absolute;
  bottom: 2%;
  color: #9b9b9b85;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.warningOnChat span{
  color: red;
  padding: 5px 5px 0 0;
}